<nb-card class="col-md-12 col-lg-12 col-xxxl-12">
  <nb-card-body>
    <nb-stepper #stepper>
      <nb-step [stepControl]="firstForm" label="Home">
        <form [formGroup]="firstForm" (ngSubmit)="onFirstSubmit()" class="step-container">
          <div class="steppers-container row">
            <div class="col-md-6 col-lg-6 col-xxxl-6">
              <!-- <nb-select
              fullWidth
              placeholder="{{ title }}"
              formControlName="value"
              multiple
            >
                <nb-option
                  *ngFor="let option of options"
                   value="{{ option.key }}"
                >
                  {{ option.value }}
                </nb-option>
            </nb-select> -->
            <nb-select selected="1">
              <nb-option value="1">Furniture</nb-option>
              <nb-option value="2">Refrigerator</nb-option>
              <nb-option value="3">Electricity</nb-option>
              <nb-option value="4">Gas</nb-option>
              <nb-option value="5">WFH</nb-option>
              <nb-option value="6">Glass</nb-option>
              <nb-option value="7">Books / Papers</nb-option>
              <nb-option value="8">Metals</nb-option>
              <nb-option value="9">Plastic</nb-option>
            </nb-select>
          </div>
            <div class="col-md-6 col-lg-6 col-xxxl-6">
              <input type="text" tooltip="$100" placeholder="Amount" class="form-control" formControlName="firstCtrl"
              [ngClass]="{'form-control-danger': firstForm.invalid && (firstForm.dirty || firstForm.touched)}">
            </div>
            <!-- <div class="col-md-12 col-lg-6 col-xxxl-6">
              <nb-card>
                <nb-card-header>Select Category</nb-card-header>
                <nb-card-body>
                  <nb-select selected="1">
                    <nb-option value="1">Option 1</nb-option>
                    <nb-option value="2">Option 2</nb-option>
                  </nb-select>
                </nb-card-body>
                <nb-card-body>
                  <nb-select selected="1">
                    <nb-option value="1">Option 1</nb-option>
                    <nb-option value="2">Option 2</nb-option>
                  </nb-select>
                </nb-card-body>
                <nb-card-body>
                  <nb-select selected="1">
                    <nb-option value="1">Option 1</nb-option>
                    <nb-option value="2">Option 2</nb-option>
                  </nb-select>
                </nb-card-body>
                <nb-card-body>
                  <nb-select selected="1">
                    <nb-option value="1">Option 1</nb-option>
                    <nb-option value="2">Option 2</nb-option>
                  </nb-select>
                </nb-card-body>
              </nb-card>
            </div> -->
            <!-- <div class="col-md-12 col-lg-12 col-xxxl-12">
              <nb-card>
                <nb-card-header>Amount(USD)</nb-card-header>
                <nb-card-body>
                  <nb-select selected="1">
                    <nb-option value="1">Option 1</nb-option>
                    <nb-option value="2">Option 2</nb-option>
                  </nb-select>
                  <input type="text" placeholder="Amount" class="form-control" formControlName="firstCtrl"
                  [ngClass]="{'form-control-danger': firstForm.invalid && (firstForm.dirty || firstForm.touched)}">    
                </nb-card-body>
                <nb-card-body>
                  <input type="text" placeholder="Amount" class="form-control" formControlName="firstCtrl"
                  [ngClass]="{'form-control-danger': firstForm.invalid && (firstForm.dirty || firstForm.touched)}">    
                </nb-card-body>
                <nb-card-body>
                  <input type="text" placeholder="Amount" class="form-control" formControlName="firstCtrl"
                  [ngClass]="{'form-control-danger': firstForm.invalid && (firstForm.dirty || firstForm.touched)}">    
                </nb-card-body>
                <nb-card-body>
                  <input type="text" placeholder="Amount" class="form-control" formControlName="firstCtrl"
                  [ngClass]="{'form-control-danger': firstForm.invalid && (firstForm.dirty || firstForm.touched)}">    
                </nb-card-body>
              </nb-card>
            </div> -->
          </div>
          <button nbButton nbStepperNext>next</button>
        </form>
      </nb-step>
      <nb-step [stepControl]="secondForm" label="Travel">
        <form [formGroup]="secondForm" (ngSubmit)="onSecondSubmit()" class="step-container">
          <div class="steppers-container row">
            <div class="col-md-6 col-lg-6 col-xxxl-6">
            <nb-select selected="1">
              <nb-option value="1">Car - Diesel</nb-option>
              <nb-option value="2">Car - Petrol</nb-option>
              <nb-option value="3">Car - Electric</nb-option>
              <nb-option value="4">Flight - International</nb-option>
              <nb-option value="5">Flight - Domestic</nb-option>
              <nb-option value="6">Bus</nb-option>
              <nb-option value="7">Rails</nb-option>
              <nb-option value="8">Water</nb-option>
              <nb-option value="9">Hotel Stay</nb-option>
            </nb-select>
          </div>
            <div class="col-md-6 col-lg-6 col-xxxl-6">
              <input type="text" tooltip="$100" placeholder="Amount" class="form-control" formControlName="secondCtrl"
              [ngClass]="{'form-control-danger': firstForm.invalid && (firstForm.dirty || firstForm.touched)}">
            </div>
            </div>
          <button nbButton nbStepperPrevious>prev</button>
          <button nbButton nbStepperNext>next</button>
        </form>
      </nb-step>
      <nb-step [stepControl]="thirdForm" label="Lifestyle">
        <form [formGroup]="thirdForm" (ngSubmit)="onThirdSubmit()" class="step-container">
          <div class="steppers-container row">
            <div class="col-md-6 col-lg-6 col-xxxl-6">
            <nb-select selected="1">
              <nb-option value="1">Food</nb-option>
              <nb-option value="2">Drinks</nb-option>
              <nb-option value="3">Clothing</nb-option>
            </nb-select>
          </div>
            <div class="col-md-6 col-lg-6 col-xxxl-6">
              <input type="text" tooltip="$100" placeholder="Amount" class="form-control" formControlName="thirdCtrl"
              [ngClass]="{'form-control-danger': firstForm.invalid && (firstForm.dirty || firstForm.touched)}">
            </div>
            </div>
          <button nbButton nbStepperPrevious>prev</button>
          <button nbButton nbStepperNext>Confirm</button>
        </form>
      </nb-step>
      <!-- <nb-step [stepControl]="fourthForm" label="Fourth step">
        <form [formGroup]="fourthForm" (ngSubmit)="onFourthSubmit()" class="step-container">
          <div class="col-lg-6">

            <nb-card>
              <nb-card-header>Select</nb-card-header>
              <nb-card-body>
                <nb-select selected="1">
                  <nb-option value="1">Option 1</nb-option>
                  <nb-option value="2">Option 2</nb-option>
                </nb-select>
              </nb-card-body>
            </nb-card>
        
          </div>
          <button nbButton nbStepperPrevious>prev</button>
          <button nbButton nbStepperNext>Confirm</button>
        </form>
      </nb-step> -->
      <nb-step [stepControl]="thirdForm" [hidden]="true" label="Third step">
        <div class="step-container">
          <h3>All set</h3>
          <button nbButton (click)="stepper.reset()">Thanks for completing</button>
        </div>
      </nb-step>
    </nb-stepper>
  </nb-card-body>
</nb-card>

<!-- <mat-card class="col-md-12 col-lg-12 col-xxxl-12">
<mat-card-content>
<mat-horizontal-stepper linear #stepper>
<mat-step [stepControl]="firstForm" label="Home">
  <form [formGroup]="firstForm" (ngSubmit)="onFirstSubmit()" class="step-container">
    <div class="steppers-container row">
      <div class="col-md-6 col-lg-6 col-xxxl-6">

    </div>
      <div class="col-md-6 col-lg-6 col-xxxl-6">
        <input type="text" tooltip="$100" placeholder="Amount" class="form-control" formControlName="firstCtrl"
        [ngClass]="{'form-control-danger': firstForm.invalid && (firstForm.dirty || firstForm.touched)}">
      </div>
    </div>
    
  </form>
</mat-step>
</mat-horizontal-stepper>
</mat-card-content>
</mat-card> -->

