<div class="row">
  <div class="col-md-6 col-xxxl-4">
    <nb-card [size]="breakpoint.width >= breakpoints.xxxl ? 'medium' : 'large'">
      <nb-card-header>
        Article Example
      </nb-card-header>
      <nb-card-body>
        <h4>So what's About the grammar?</h4>
        <p>
          Far far away, behind the word mountains, far from the countries <strong>Vokalia</strong> and <strong>Consonantia</strong>,
          there live the blind texts.
          They live in <strong>Bookmarksgrove</strong>.
        </p>
        <p>
          A small <strong>river named Duden</strong> flows by their place and supplies it with the
          necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly
          into your mouth.
          Even the all-powerful Pointing has no control about the blind texts it is an almost
          unorthographic life One day however a small
          line of blind text by the name of
          <a href="http://google.com" target="_blank">Lorem Ipsum</a> decided to leave for
          the far <strong>World of Grammar</strong>.
        </p>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-md-6 col-xxxl-4">
    <nb-card [size]="breakpoint.width >= breakpoints.xxxl ? 'medium' : 'large'">
      <nb-card-header>
        Article Example
      </nb-card-header>
      <nb-card-body>
        <h4>So what's About the grammar?</h4>
        <p>
          Far far away, behind the word mountains, far from the countries <strong>Vokalia</strong> and <strong>Consonantia</strong>,
          there live the blind texts.
          They live in <strong>Bookmarksgrove</strong>.
        </p>
        <p>
          A small <strong>river named Duden</strong> flows by their place and supplies it with the
          necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly
          into your mouth.
          Even the all-powerful Pointing has no control about the blind texts it is an almost
          unorthographic life One day however a small
          line of blind text by the name of
          <a href="http://google.com" target="_blank">Lorem Ipsum</a> decided to leave for
          the far <strong>World of Grammar</strong>.
        </p>
      </nb-card-body>
    </nb-card>
  </div>


  <div class="col-md-6 col-xxxl-4">
    <nb-card size="large">
      <nb-card-header>
        Alerts
      </nb-card-header>
      <nb-card-body>
        <nb-alert>
          <strong>Heads up!</strong> This alert needs your attention, but it's not super important.
        </nb-alert>
        <nb-alert status="primary">
          <strong>Oh snap!</strong> Change a few things up and try submitting again.
        </nb-alert>
        <nb-alert status="success">
          <strong>Well done!</strong> You successfully read this important alert message.
        </nb-alert>
        <nb-alert status="info">
          <strong>Heads up!</strong> This alert needs your attention, but it's not super important.
        </nb-alert>
        <nb-alert status="warning">
          <strong>Warning!</strong> Better check yourself, you're not looking too good.
        </nb-alert>
        <nb-alert status="danger">
          <strong>Oh snap!</strong> Change a few things up and try submitting again.
        </nb-alert>
      </nb-card-body>
    </nb-card>
  </div>


</div>
