<div class="row">
  <!-- <div class="col-md-6 col-xxxl-4">
  <nb-card [size]="breakpoint.width >= breakpoints.xxxl ? 'medium' : 'large'">
    <nb-card-header>
      Article Example
    </nb-card-header>
    <nb-card-body>
      <h4>So what's About the grammar?</h4>
      <p>
        Far far away, behind the word mountains, far from the countries <strong>Vokalia</strong> and <strong>Consonantia</strong>,
        there live the blind texts.
        They live in <strong>Bookmarksgrove</strong>.
      </p>
      <p>
        A small <strong>river named Duden</strong> flows by their place and supplies it with the
        necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly
        into your mouth.
        Even the all-powerful Pointing has no control about the blind texts it is an almost
        unorthographic life One day however a small
        line of blind text by the name of
        <a href="http://google.com" target="_blank">Lorem Ipsum</a> decided to leave for
        the far <strong>World of Grammar</strong>.
      </p>
    </nb-card-body>
  </nb-card>
</div>

<div class="col-md-6 col-xxxl-4">
  <nb-card [size]="breakpoint.width >= breakpoints.xxxl ? 'medium' : 'large'">
    <nb-card-header>
      Article Example
    </nb-card-header>
    <nb-card-body>
      <h4>So what's About the grammar?</h4>
      <p>
        Far far away, behind the word mountains, far from the countries <strong>Vokalia</strong> and <strong>Consonantia</strong>,
        there live the blind texts.
        They live in <strong>Bookmarksgrove</strong>.
      </p>
      <p>
        A small <strong>river named Duden</strong> flows by their place and supplies it with the
        necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly
        into your mouth.
        Even the all-powerful Pointing has no control about the blind texts it is an almost
        unorthographic life One day however a small
        line of blind text by the name of
        <a href="http://google.com" target="_blank">Lorem Ipsum</a> decided to leave for
        the far <strong>World of Grammar</strong>.
      </p>
    </nb-card-body>
  </nb-card>
</div> -->

  <div class="col-md-6 col-xxxl-4">
    <nb-card size="large">
      <nb-card-header> Go Green in 10 simple steps </nb-card-header>
      <nb-card-body>
        <nb-alert>
          <strong> Go Digital</strong>
          The more you do online, the less you need paper. Think about if you
          can send emails instead of letters or if you need to print files or if
          you can save them on your computer
        </nb-alert>
        <nb-alert status="primary">
          <strong>Switch lights off</strong> One of the simplest ways to reduce
          energy consumption is to switch lights off when you leave a room. If
          it’s sunny outside open up the blinds and make the most of natural
          light instead.
        </nb-alert>
        <nb-alert status="success">
          <strong> Reuse before recycle</strong> Before you get gung-ho about
          recycling think about can you re-use items first? Can you print on
          both sides of paper or can you re-use as scrap paper for note taking
          or shopping lists?
        </nb-alert>
        <nb-alert status="info">
          <strong>Get sharing</strong> Does everyone in the office or service
          need their own stapler, hole punch, scissors, etc? Of course not! Save
          money and unnecessary manufacture by using less in the first place.
          Rather than buying new stationery, see if you can get refills instead.
        </nb-alert>
        <nb-alert status="primary">
          <strong>Switch computers off </strong> Both in services and offices
          make sure computers are switched off when you’re not using them rather
          than just leaving them on standby – you’d be amazed how much energy
          this saves!
        </nb-alert>
        <nb-alert status="success">
          <strong>Recycle</strong> Make sure you recycle what you can. RLO
          offices have green bins to recycle paper and most councils will
          collect recycled materials such as plastic and cardboard from
          residential services so make sure you sort out waste before throwing
          in the bin.
        </nb-alert>
        <nb-alert>
          <strong> Save water</strong> Only use as much water as you need,
          saving both water and the energy needed to heat it when it comes to
          cups of tea and baths etc. Plus did you know you can get dual-flush
          toilets or water saving devices for toilet cisterns which reduce water
          per flush.</nb-alert
        >
        <nb-alert status="primary">
          <strong>Switch computers off </strong> Both in services and offices
          make sure computers are switched off when you’re not using them rather
          than just leaving them on standby – you’d be amazed how much energy
          this saves!
        </nb-alert>
        <nb-alert status="success">
          <strong>Green the commute</strong> Can you car share, use public
          transport, walk or ride a bike instead of jumping in the car? This
          often provides a great chance to integrate with the community or get
          to know your colleagues better too!
        </nb-alert>
        <nb-alert status="info">
          <strong> Cut unnecessary travel</strong> Consider if you can use the
          RLO Skype or teleconference facilities instead of travelling in the
          first place. Not only is this good for the environment but also saves
          you time and money too!</nb-alert
        >
      </nb-card-body>
    </nb-card>
  </div>
</div>
